<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script><![endif]-->
    <title></title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <link href="{{ asset('css/reset.css') }}" rel="stylesheet">
    <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">
    {% block script %}{% endblock %}
</head>

<body>


<div class="wrapper">

    <header class="header">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="{{ path('homepage') }}">Mk Blog</a>
                </div>
                <ul class="nav navbar-nav">
                    <li><a href="{{ path('posts') }}">Записи</a></li>
                    {% if is_granted("ROLE_ADMIN") %}
                        <li><a href={{ path('adding_post')}}>Добавить пост</a></li>
                    {% endif%}
                </ul>
                <ul class="nav navbar-nav navbar-right">
                {% if not is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    <li><a href="{{ path('fos_user_registration_register') }}"><i class="fa fa-user"></i> Регистрация</a></li>
                    <li><a href="{{ path('fos_user_security_login') }}"><i class="fa fa-sign-in" ></i> Авторизация</a></li>
                {% else %}
                    <li><a href="{{ path('fos_user_profile_show') }}"><i class="fa fa-user"></i>Профиль</a></li>
                    <li><a href="{{ path('fos_user_security_logout') }}"><i class="fa fa-user"></i>выход</a></li>
                {% endif %}
                </ul>
            </div>
        </nav>
    </header><!-- .header-->

    <div class="container">
        {% block content %} {% endblock  %}
    </div>

</div><!-- .wrapper -->

<footer class="footer">
    <strong>Footer:</strong> Mus elit Morbi mus enim lacus at quis Nam eget morbi. Et semper urna urna non at cursus dolor vestibulum neque enim. Tellus interdum at laoreet laoreet lacinia lacinia sed Quisque justo quis. Hendrerit scelerisque lorem elit orci tempor tincidunt enim Phasellus dignissim tincidunt. Nunc vel et Sed nisl Vestibulum odio montes Aliquam volutpat pellentesque. Ut pede sagittis et quis nunc gravida porttitor ligula.
</footer><!-- .footer -->

</body>
</html>