{% extends 'base.html.twig' %}

{% block content %}
    <h1>Добавить новую запись</h1>
    {{ form_start(form) }}
        {{ form_row(form.title, { 'attr' : {
            'class': 'form-control',
            'placeholder': 'Заголовок'}}) }}

        {{ form_row(form.article, { 'attr' : {
            'class': 'form-control',
            'placeholder': 'Статья'}}) }}

    {{ form_row(form.create, { 'attr' : {
        'class': 'btn btn-primary'}}) }}


    {{ form_end(form) }}
{% endblock %}