{% extends 'base.html.twig' %}

{% block content %}
    <div>
        {% for post in posts %}
            <div class="well" style="margin: 5% 10%;">
                <h1><a href="{{ path('post', {'id': post.id}) }}">{{ post.title }}</a></h1>
                <p>{{ post.article }}</p>
                <div class=""> <p>Автор: {{ post.user.username }}</p> </div>
            </div>
        {% endfor %}
    </div>

    <div class="navigation">
        {{ knp_pagination_render(posts) }}
    </div>
{% endblock %}

