{% extends 'base.html.twig' %}

{% block content %}
    <div class="" style="width: 20%; margin: auto;">
        <h1 style="text-align: center;">Регистрация</h1>
        {{ form_start(form) }}
            {{ form_row(form.email) }}
            {{ form_row(form.firstName) }}
            {{ form_row(form.lastName) }}
            {{ form_row(form.birthday) }}
            {{ form_row(form.plainPassword.first) }}
            {{ form_row(form.plainPassword.second) }}

            <button class="btn btn-default" type="submit">Register!</button>
        {{ form_end(form) }}
    </div>
{% endblock %}